

  .nzw-wrapper {
    padding-top: 0 !important;
  }


  @mixin mobile-lg {
    @media (min-width: 370px) {
      @content;
    }
  }

  @mixin phablet {
    @media (min-width: 550px) {
      @content;
    }
  }

  @mixin tablet {
    @media (min-width: 750px) {
      @content;
    }
  }

  @mixin desktop {
    @media (min-width: 1100px) {
      @content;
    }
  }

  @mixin desktop-hd {
    @media (min-width: 1400px) {
      @content;
    }
  }

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  #app {
    position: relative;
    width: 100%;
    min-height: 100vh;
    color: white;
    @include tablet {
      min-height: 80vh;
    }
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      @include tablet {
        width: 70%;
        right:0;
      }
    }

  .map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
  }

  ::-webkit-scrollbar {
    width: .7rem;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #777;
    outline: 1px solid slategrey;
  }

  .overflow {
    @include tablet {
      height: 100%;
      width: 30%;
      overflow-y: hidden;
      position: absolute;
      top: 0;
      background: rgba(0,0,0,1);
      min-width: 300px;
    }
  }

  .sidebar {
    @include tablet {
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  .timeline-container {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    .icon {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(255,0,0,.75);
      @include tablet {
        display: none;
      }
    }
    img.icon-img {
      width: 30px;
      padding: .25rem;
      transition: ease .3s all;
      &.rotate-icon {
        transform: rotate(180deg);
      }
    }
    @include tablet {
      position: absolute;
      left: 0;
      width: 300px;
      height: 280px;
      background: none;
    }
  }


.timeline-wrapper {
    position: relative;
    width: 100%;
    // height: 75px;
    height: 75px;
    overflow: hidden;
    transition: ease .3s all;
    &.open-menu {
      height: 335px;
    }
      @include tablet {
        width: 280px;
        height: 410px;
        transition: height 1.5s;
        overflow: hidden;
        margin: 1rem auto;
      }
  }

  .timeline-header {
    position: relative;
  }

  .timeline-container h3 {
    color: white;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0 ;
    margin: 0;
    @include tablet {
      padding: 2rem 0;
      font-size: 1.5rem;
    }
  }

  .timeline-container span {
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.75;
    padding: .2rem 1rem;
    background: rgba(255,0,0,.75);
    @include tablet {
      font-size: 1.5rem;
    }
  }

  .timeline {
    z-index: 0;
    height: 300px;
    @include tablet {
      height: 500px;
    }
  }

  .timeline:before {

    @include tablet {
      height: 275px;
      content: '';
      position: absolute;
      width: 1px;
      background: rgba(255,255,255,.75);
      left: 50%;
    }

  }

  .range {
    @include tablet {
      height: 160px;
      position: relative;
    }
  }

  .point {
    width: 10px;
    height: 10px;
    background: #fff;
    margin: auto;
    border-radius: 100%;
    background: white;
  }


  .range-end {
    height: 0;
  }

  .range p {
    color: white;
    letter-spacing: 1px;
    font-size: .7rem;
    font-size: 1rem;
    margin: 0 0 0 18px;
  }

    .selected {
      .campaign-description {
        color: red;
    }
    }
  .campaign p {
    width: 80px;
    margin: -2px 0 0 18px;
  }

  .campaign-description {
    font-size: 1.25rem;
    @include tablet {
      color: white;
      letter-spacing: 1px;
      font-size: 1rem;
      position: absolute;
      top: -4px;
      left: -105px;
      &:hover {
        font-weight: bold;
        color: red;
      }
    }
  }


  .campaign {
    display: flex;
    align-items: center;
    width: 230px;
    margin: auto;
    padding: .4rem 0;
    border-bottom: 1px solid #333;
    @include tablet {
      display: block;
      width: 8px;
      height: 8px;
      background: red;
      border-radius: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      margin: 0;
      border-bottom: 0;
      padding: 0;
    }
  }

  #wellington {
    top: 15%;
    @include tablet {
      top: 20%;
    }
  }

  #whanganui {
    top: 30%;
    @include tablet {
      top: 30%;
    }
  }

  #taranaki {
    top: 0;
    @include tablet {
      top: 0;
    }
  }

  #waikato {
    top: 20%;
    @include tablet {
      top: 20%;
    }
  }

  #eastern-bop {
    top: 40%;
    @include tablet {
      top: 40%;
    }
  }

  #bop {
    top: 30%;
    @include tablet {
      top: 30%;
    }
  }

  #southern-taranaki {
    top: 50%;
    @include tablet {
      top: 50%;
    }
  }

  #te-kooti {
    top: 70%;
    @include tablet {
      top: 70%;
    }
  }

  .infobox-container {
    position: absolute;
    bottom: 0;
    padding: 1.5rem 2rem 7rem 2rem;
    width: 100%;
    background: rgba(0,0,0,.8);
    &.close-infobox {
      display: none;
      @include tablet {
        display: block;
      }
    }
    @include tablet {
      position: absolute;
      top: 0;
      z-index: 9999;
      padding: 3.5rem 2rem 0 4rem;
      // width: 280px;
      background: none;
    }
    img {
      position: absolute;
      top: 0;
      right: 0;
      background: rgba(255,0,0,.75);
      padding: .25rem;
      @include tablet {
        display: none;
      }
    }
    @include tablet {
      position: relative;

    }
  }


  #info-box {

    .site {
      .when {
        font-size: 1.1rem;
        font-weight: bolder;
      }
      .site-description {
        margin-top: 1rem;
      }
    }
    h1, h3 {
      font-size: 1.75rem;
      font-weight: bolder;
      letter-spacing: 1px;
      margin: 0 0 .5rem 0;
      @include tablet {
        margin: 0 0 1rem 0;
      }
    }
    p {
      margin: 0 0 .5rem 0;
      font-size: 1.2rem;
      line-height: 1.5;
    }
    ul {
      // display: none;
      list-style: none;
      padding: 0;
      margin: .5rem 0 0 0;
      list-style: none;
      // list-style-position: inside;
      @include tablet {
        margin: 1rem 0 0 0;
      }
      li {
        margin-bottom: 0;
        line-height: 1;
      }
    }
    a {
      color: red;
      margin-top: .5rem;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bolder;
      line-height: 1;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .instructions {
    width: 100%;
    opacity: .8;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    background: rgba(0,0,0,.9);
    padding: .75rem 0 2.75rem 3.5rem;
    position: absolute;
    bottom: 0;
    @include tablet {
      position: static;
      margin: 1rem auto 0 auto;
      width: 240px;
      border: 1px solid #333;
      margin-bottom: 4rem;
      padding: 0;
    }
    img {
      margin: -5px 0 0 1rem;
      width: 15px;
      height: 25px;
      @include tablet {
        padding: .75rem .5rem .75rem 1rem;
        width: 43px;
        height: 56px;
      }
    }
    p {
      font-size: 1.1rem;
      padding: .5rem 1rem;
      margin: 0;
      @include tablet {
        padding: 1.25rem;
      }
    }

  }
  .mapboxgl-ctrl-bottom-left {
    @include tablet {
      z-index: 0;
    }
  }
}
