body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}

h2,
h3 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  /*margin: 10px;*/
  text-align: left;
}

/**
* Create a position for the map
* on the page */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

.timeline-container {
  position: absolute;
  top: 40px;
  right: 0;
  width: 300px;
  height: 450px;
}

.timeline-container h3 {
  color: white;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 1px;
  font-size: .8rem;
  margin: 0 0 2rem 0;
}

.timeline-container span {
  font-size: .7rem;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 2.75;
  background: rgba(255,0,0,.75);
  padding: .2rem .3rem;
}

.timeline {
  z-index: 0;
}

.timeline:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background: rgba(255,255,255,.75);
  left: 50%;
}

.range {
  height: 150px;
  position: relative;
}

.point {
  width: 10px;
  height: 10px;
  background: #fff;
  margin: auto;
  border-radius: 100%;
  background: white;
}

p {
  color: white;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: .7rem;
  margin: 0 0 0 18px;
}

.campaign p {
  width: 80px;
}

.campaign-description {
  width: 90px !important;
  color: white;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: .7rem;
  position: absolute;
  top: 0;
  left: -100px;
}

.campaign {
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

#wairau {
  top: 30%;
}

#northern {
  top: 50%;
}

#hutt-valley {
  top: 60%;
}

#taranaki {
  top: 0;
  background: white;
}

#waikato {
  top: 30%;
}

#eastern-bop {
  top: 50%;
}

#southern-taranaki {
  top: 60%;
}

#te-kooti {
  top: 80%;
}

#info-box {
  position: absolute;
  top: 0;
  z-index: 9999;
  margin: 2rem;
  max-width: 280px;
}

#info-box h3 {
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 1px;
  margin: 0 0 1rem 0;
}

#info-box p {
  margin: 0;
  font-size: .9rem;
}
